:root {
  --bs-primary: #382bf0;
  --bs-light: #f8f9fa;
  --bs-dark: #282828;
  --bs-font-color: #000000;
}

.logo {
  color: var(--bs-font-color);
  background-color: "blue";
  max-height: 50px;
}

/* Slider */
.c-item {
  height: 300px;
}
.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}


