:root {
  --bs-body-bg: #212529;
  --bs-secondary-bg: #343a40;
  --bs-secondary-color: #63686c;
  --bs-primary: #0D6EFD;
  --bs-font-color: #ffffff;
  --bs-tertiary-bg-rgb: 23,23,23;
  --bs-secondary-bg-rgb: 52,54,60;
  --bs-border-color: #4b5056;
  --bs-body-color: #f8f9fa;
  --bs-secondary-rgb: 30,60,98;
 
}
.nav-link.active{
  --bs-nav-underline-link-active-color:var(--bs-primary)
}
body {
  background-color: var(--bs-body-bg);
  color: var(--bs-font-color);
}
.form-floating > label{
  --bs-font-color: #63686c;
  color:var(--bs-font-color);

}

.card{
  --bs-card-title-color: #f0f0f0;
  --bs-card-color:#f8f9fa;
  --bs-card-bg:#343a40;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  color: var(--bs-font-color);
  background-color: "blue";

}

/* Box */
.box {
  background-color: var(--bs-secondary-bg);
  margin: 18px;
  padding: 18px;
  border: 2px solid var(--bs-primary);
  border-radius: 15px;
}

/* Navbar */
.navbar {
  margin-bottom: 20px;
}
/* footer */
footer {
  background-color: #1C2632;
}

.t-color {
  color: 	#AFEEEE !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Slider */
.c-item {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 400px;
}
.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.divider {
  margin: 20px;
  background-color: var(--bs-box);
  border: 1px solid;
  border-radius: 25px;
  border-color: var(--bs-primary);
}
.b-split-b {
  padding: 5px;
  border-bottom: 2px solid var(--bs-primary);
}
.b-split-t {
  padding: 5px;
  border-top: 2px solid var(--bs-primary);
}

.b-img {
  margin: 20px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}


/* Username */
.mid {
  font-weight: bold;
  padding: 80px 0;
}
/* Card */
.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  border: none;
  border-radius: 0;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 600px) {
  .card img {
    height: 15em;
  }
}

/* titel */
.title-box {
  margin: 18px; 
  color: var(--bs-light);
  background-color: var(--bs-primary);
  border: 2px solid var(--bs-primary);
  border-radius: 10px;
}

html, 
body {
    height: 100%;
}
